
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  text-decoration: none;
  
}
body {
  background: #1A0B2E;
  color: #fff;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a{
  color: #FFFFFF;
  
}
.nav-button{
  width: 135px;
  height: 44px;
  background-color: #B68C5A;
  color:#FFFFFF;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 200px;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.navbar-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.logo-container{
  margin-left: 200px;
}
.wave-gradient{
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
}
.hero-section{
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-image{
  position: relative;
  
}
.center-image img{
  display: block;
  max-width: 100%;
}
.logo-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  width: 100px;

}
.logo-cercle{
  background: transparent;
}


.hero {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(circle at center, #2a0a5e, #0b0620);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
}

.content {
  text-align: center;
  z-index: 2;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.icon {
  width: 350px;
  height: 350px;
  background: url("assets/hero-circle.png") no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 70px;
  height: auto;
}

.badge {
  position: absolute;
  top: 6px;
  right: -8px;
  background: #00ff99;
  color: #000;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
  width: 75px;
  height: 38px;
}
.icon-wrapper span{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3.75rem;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.techwave-para {
  font-size: 1rem;
  opacity: 80%;
  color: #FFFFFF;
  margin: 0 auto 30px;
}
.btn {
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease;
  margin: 8px;
}

.spotify {
  background: linear-gradient(135deg, #ff00cc, #ffcc00);
  color: #fff;
  justify-content: end;
  align-items: end;
}

.subscribe {
  border: 1px solid #00ffcc;
  color: #00ffcc;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.wave.left {
  left: 0;
}

.wave.right {
  right: 0;
}

.about{
  padding: 100px 20px;
  color: #ffffff;
}
.about-container{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.about p{
  font-size: 1rem;
  opacity: 80%;
}
.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 50px 0;
}
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
.stat h3{
  font-size: 3rem;
  color:#00FF88;
  margin-bottom: 8px;
} 
.stat span{
  font-size: 1rem;
  opacity: 80%;
}
.why-card p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.6;
}

Icons
.icon {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.why-techwave {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}
.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
/* Grid layout */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, 200px);
  gap: 20px;
}

/* Cards */
.card {
  background: #2d0b52;
  border-radius: 18px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card img {
  width: 36px;
  height: 36px;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6c9e8;
}

.card.tall {
  grid-row: span 2;
}
.card.wide {
  grid-column: span 2;
}

/* Responsive
@media (max-width: 992px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-card.tall,
  .why-card.wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 600px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  .why h2 {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card.wide {
    grid-column: span 2;
  }
   .card.wide2 {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card,
  .card.wide,
  .card.tall {
    grid-column: span 1;
    grid-row: span 1;
  }
} */