
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  background-color:#1A0B2E ;
  text-decoration: none;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a{
  color: #FFFFFF;
  
}
.nav-button{
  width: 135px;
  height: 44px;
  background-color: #B68C5A;
  color:#FFFFFF;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 200px;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.navbar-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container{
  margin-left: 200px;
}
.logo{
  color: #FFFFFF;
}

.wave-gradient{
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  color: transparent;
}
